/* src/ComplaintsSection.css */
.complaints-section {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    height: 85vh;
    width: 300px;
    z-index: 1000;
  }
  
  .complaints-header {
    text-align: center;
  }
  
  .complaints-content img {
    display: block;
    margin: 0 auto;
  }
  